.contact-container {
  width: 50%;
  margin: 0 auto;
}

.contact-title {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
}

.contact-form {
  margin-top: 50px;
}

label {
  margin-right: 50px;
  width: 160px;
  flex-shrink: 0;
  padding-top: 15px;
  font-weight: normal;
}

.input-area {
  flex-grow: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.input-area input {
  width: 100%;
 border-radius: 12px;
 padding: 20px 25px;
 border: 1px solid #d1d5db;
 outline: none;
  box-sizing: border-box;
}

.input-area textarea {
  width: 100%;
  min-height: 200px;         /* 高さだけtextareaで個別に指定 */
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #d1d5db;
  appearance: none;          /* ブラウザ独自の装飾を無効化 */
  box-sizing: border-box;
}

.input-area p {
  color: red;
  font-size: 14px;
  margin-top: 0px;
}

.contact-name {
  display: flex;
  margin-bottom: 10px;
}

.contact-email {
  display: flex;
  margin-bottom: 10px;
}

.contact-message {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;
}

.contact-button button {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.contact-button {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  margin-top: 20px;
  gap: 20px; /* ボタン同士の間だけあけるのがgap */
}

.send-button {
  background-color: black;
  color: white;
}

